*{
    margin: 0;
    padding: 0;
}

.main-nav{
    background-color: #9d58f1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    height: 10vh;
    position: fixed;
}
.logo{
    color: #1b1919;
}
.main-nav a{
    color: white;
}
.main-nav a:hover{
    color:rgb(59, 25, 77);
    cursor: pointer;
}
.logo{
    margin-left: 50px;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.login-signup{
    /* border: 2px solid black; */
    width: 13vw;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2{
    font-family: 'Arial Narrow Bold', sans-serif;
}
.main-nav li{
    float: left;
    list-style: none;
    text-decoration: none;
    margin: 6px 2.5rem 6px;
    font-size: 19px;
    /* color: white; */
}

.login-signup .signup{
    height: 40px;
}

.menu-link{
    margin-left: -55px;
    display: flex;
    align-items: center;
}

.main-nav button{
    font-size: large;
    padding: 8px;
    margin-right: 10px;
    background-color: #1b1919;
    border: none;
    color: white;
    border-radius: 5px;
}
.main-nav button:hover{
    cursor: pointer;
    background-color: white;
    color: #1b1919;
}
#logo{
    margin-top: -10px;
    width: 180px;
    height: 180px;
}
