/* Style the background image */
.login-container {
    background: linear-gradient(rgba(142, 46, 180, 0.5), rgba(9, 9, 58, 0.5)), url('c1.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style the login box */
  .login-box {
    background: rgba(0, 0, 0, 0.68); /* Transparent black tint */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
    width: 35vw;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Style input containers */
  .input-container {
    text-align: left;
    margin: 10px 0;
    padding-right: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
    outline: none;
  }
  
  /* Style the submit button */
  button {
    width: 100%;
    padding: 10px;
    background-color: #962bd4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #6f219c;
  }
  
  .login-here{
    margin-left: 50%;
    padding: 0 0 4px 0;
    /* border: 2px solid white; */
    text-align: right;
  }
  a{
    color: rgb(165, 165, 165);
    text-decoration: none;
    transition: color 0.2s;
  }
a:hover{
    color: rgb(252, 252, 252);
}
.reg-r-btn{
  margin-top: 5px;
}