*{
    margin: 0;
    padding: 0;
}
.main{
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid white; */
    background-color: #232020;
    padding-top: 100px;
    height: 80vh;
}
.main h2{
    color: white;
    margin: 10px 0 0 120px;
}
.head h2{
    font-size: 40px;
    text-align: center;
    background-color: #9d58f1;
    width: 97%;
    border-radius: 25px;
    color: #232020;
    /* font-family: monospace, Arial, Helvetica, sans-serif; */
}
.head{
    background-color: #232020;
    display: flex;
    justify-content: center;
}
